@import "../../../styles/styles.scss";

.cart {
  display: flex;
  background-color: $arrow-primary-gray-3;
  @include rem("border-radius", 0px 0px 15px 15px);
  @include rem("padding", 14px 16px 50px 16px);
  font-weight: $font-weight-semi-bold;
  color: $black;

  > div {
    width: 50%;
  }

  &-left {
    text-align: left;
    img {
      @include rem("margin-bottom", 10px);
      border-radius: 50%;
      display: block;
    }
  }
  &-right {
    text-align: right;
    button {
      @include body-text-1;
      @include rem("margin-bottom", 14px);
      font-weight: $font-weight-semi-bold;
      color: $arrow-primary-ruby;
    }
    span {
      display: block;
      @include rem("font-size", 18px);
    }
  }
}
