/* Colors */
$white: #ffffff;
$black: #000000;
$pa-primary-red: #d03530;

$arrow-primary-ruby: #f0256f;
$arrow-primary-gray-1: #e0e0e0;
$arrow-primary-gray-2: #828282;
$arrow-primary-gray-3: #f6f6f6;

$light-gray-3: #e6e6e6;
